*.pper
.Rproj.user/2BE0DB47/sdb/per/t/2B136E60
.Rproj.user/2BE0DB47/sdb/per/t/A95FDB57
.Rproj.user/2BE0DB47/sdb/prop/2058D2BB
.Rproj.user/2BE0DB47/sdb/prop/3E40EB19
.Rproj.user/2BE0DB47/sdb/prop/40CA40F9
.Rproj.user/2BE0DB47/sdb/prop/48138C1C
.Rproj.user/2BE0DB47/sdb/prop/5B2946EF
.Rproj.user/2BE0DB47/sdb/prop/6184004E
.Rproj.user/2BE0DB47/sdb/prop/670E3BC7
.Rproj.user/2BE0DB47/sdb/prop/93A318FD
.Rproj.user/2BE0DB47/sdb/prop/B32B2FBB
.Rproj.user/2BE0DB47/sdb/prop/C4D6915E
.Rproj.user/2BE0DB47/sdb/prop/D2A2B44B
.Rproj.user/2BE0DB47/sdb/prop/F8E52457
.Rproj.user/2BE0DB47/sdb/prop/INDEX