import("FLCore")

export(
  "advice.mp",
  "age2ageDat",
  "age2agePop",
  "age2bioDat",
  "age2bioPop",
  "age2unit",
  "ageInd",
  "aneHCRE",
  "aneRec_pil",
  "annualTAC",
  "annexIVHCR",
  "ASPG",
  "assessment.mp",
  "B_flbeia",
  "BDPG",
  "BDsim",
  "bio2bioDat",
  "bio2bioPop",
  "bioInd",
  "biols.om",
  "biomass.tg",
  "bioSum",
  "C_flbeia",
  "capacityRest.SMFB",
  "catch.tg",
  "catchFlSum", 
  "catchMtSum",
  "catchStock",
  "catchStock.f",
  "catchWStock",
  "catchWStock.f",
  "checkBDTarget",
  "checkDims",
  "chkBDTargetQuantity",
  "chkBDTrgtArrayIters",
  "chkFwdBDControl",
  "cobbDoug",
  "cobbDougInv",
  "CobbDouglasFit",
  "CobbDouglasBio.effort",
  "CobbDouglasAge.effort",
  "CobbDouglasBio.CatchFleet",
  "CobbDouglasAge.CatchFleet",
  "CobbDouglasBio.CAA",
  "CobbDouglasAge.CAA",
  "covars.om",
  "CorrectCatch",
  "costs_flbeia",
  "createFleetExtAccesors",
  "create.advice.ctrl",
  "create.assess.ctrl",
  "create.biols.ctrl",
  "create.fleets.ctrl",
  "create.covars.ctrl", 
  "create.obs.ctrl",
  "ctRec_alb",
  "D_flbeia",
  "discards.tg",
  "discnStock",
  "discStock",
  "discStock.f",
  "discWStock",
  "discWStock.f",
  "ecoSum",
  "effortMtSum",
  "effRule.SMFB",
  "effRule.SSFB",
  "elasticPrice",
  "equal.flq.Dimnames", 
  "exponential",
  "f.discards.tg",
  "f.landings.tg",
  "f.tg",
  "F_flbeia",
  "fillIterFLF",
  "findF",
  "fixedAdvice",
  "fixedCapital",
  "fixedCovar",
  "fixedEffort",
  "fixedPopulation",
  "fixedPrice",
  "FLBDsim",
  "FLBEIA",
  "fleets.om",
  "FLSRsim",
  "FLXSAnew",
  "FroeseHCR",
  "fwdBD",
  "fwdBDControl",
  "getPlural",
  "getQuantity",
  "ghlHCR",
  "gmeanHistGrowth",
  "hockstick",
  "initPop_lifeHist",
  "IcesHCR",
  "joinIter",
  "L_flbeia",
  "landings.tg",
  "landStock",
  "landStock.f",
  "landWStock",
  "landWStock.f",
  "MaxProfit.stkCnst",
  "matrixBDTarget",
  "neaMAC_ltmp",
  "NoAssessment",
  "NoObsIndex",
  "NoObsStock",
  "Obs.stk.nage",
  "Obs.stk.bio",
  "Obs.disc.nage",
  "Obs.fec",
  "Obs.FSolver",
  "Obs.land.nage",
  "Obs.stk.wgt",
  "Obs.disc.bio",
  "Obs.land.bio",
  "Obs.disc.wgt",
  "Obs.land.wgt",
  "Obs.nmort",
  "observation.mp",
  "PellaTom",
  "perfectObs",
  "pilRec_ane",
  "pope",
  "price_flbeia",
  "propagateFLF",
  "quantityNms",
  "R_flbeia",
  "redfishRecModel",
  "remQ.SSFB",
  "replaceRec",
  "revenue_flbeia",
  "SCD",
  "seasonshare.CAA",
  "SelAtAge",
  "showArray",
  "SMFB",
  "SRsim",
  "SSB_flbeia",
  "ssb.get",
  "SSFB",
  "stock.fleetInfo",
  "summary_flbeia",
  "tdiscStock",
  "tlandStock",
  "totfcost_flbeia", 
  "totvcost_flbeia",
  "trgtNms",
  "unit2age",
  "updateCatch",
  "updateQS.SMFB",
  "validFwdBDControl",
  "vFLBDSRsims",
  "vFLCs",
  "vFLFs",
  "vFLMs",
  "wtadStock",
  "wtalStock",
  "XSAboot"
)
exportMethods(
  "addFLCatch",
  "catchNames",
  "catchNames<-",
  "FLCatchesExt",
  "FLCatchExt",
  "FLFleetExt",
  "FLFleetsExt",
  "FLMetierExt",
  "FLMetiersExt",
  "is.FLBDSRsims",
  "is.FLCatchesExt",
  "is.FLFleetsExt",
  "is.FLMetiersExt"
)

exportClasses(
  "FLBDsim",
  "FLSRsim",
  "FLCatchesExt",
  "FLCatchExt",
  "FLFleetExt",
  "FLFleetsExt",
  "FLMetierExt",
  "FLMetiersExt"
)

