import("FLCore")

export(
  "advice.mp",
  "age2ageDat",
  "age2agePop",
  "age2bioDat",
  "age2bioPop",
  "age2unit",
  "ageInd",
  "annualTAC",
  "annexIVHCR",
  "ASPG",
  "assessment.mp",
  "B_beia",
  "BDPG",
  "BDsim",
  "BEIA",
  "bio2bioDat",
  "bio2bioPop",
  "bioInd",
  "biols.om",
  "biomass.tg",
  "bioSum",
  "C_beia",
  "capacityRest.SMFB",
  "capacityRest.SSFB",
  "catch.tg",
  "catchFlSum", 
  "catchMtSum",
  "catchStock",
  "catchStock.f",
  "catchWStock",
  "catchWStock.f",
  "checkBDTarget",
  "checkDims",
  "chkBDTargetQuantity",
  "chkBDTrgtArrayIters",
  "chkFwdBDControl",
  "cobbDoug",
  "cobbDougInv",
  "CobbDouglasFit",
  "CobbDouglasBio.effort",
  "CobbDouglasAge.effort",
  "CobbDouglasBio.CatchFleet",
  "CobbDouglasAge.CatchFleet",
  "CobbDouglasBio.CAA",
  "CobbDouglasAge.CAA",
  "covars.om",
  "CorrectCatch",
  "costs_beia",
  "createFleetExtAccesors",
  "D_beia",
  "discards.tg",
  "discnStock",
  "discStock",
  "discStock.f",
  "discWStock",
  "discWStock.f",
  "ecoSum",
  "effortMtSum",
  "effRule.SMFB",
  "elasticPrice",
  "exponential",
  "f.discards.tg",
  "f.landings.tg",
  "f.tg",
  "F_beia",
  "fillIterFLF",
  "findF",
  "fixedAdvice",
  "fixedCapital",
  "fixedCovar",
  "fixedEffort",
  "fixedPopulation",
  "fixedPrice",
  "FLBDsim",
  "fleets.om",
  "FLSRsim",
  "FLXSAnew",
  "FroeseHCR",
  "fwdBD",
  "fwdBDControl",
  "getPlural",
  "getQuantity",
  "ghlHCR",
  "gmeanHistGrowth",
  "initPop_lifeHist",
  "IcesHCR",
  "joinIter",
  "L_beia",
  "landings.tg",
  "landStock",
  "landStock.f",
  "landWStock",
  "landWStock.f",
  "MaxProfit.stkCnst",
  "matrixBDTarget",
  "NoAssessment",
  "NoObsStock",
  "Obs.ages",
  "Obs.btot",
  "Obs.daage",
  "Obs.fec",
  "Obs.FSolver",
  "Obs.laage",
  "Obs.mwgt",
  "Obs.tdias",
  "Obs.tdisc",
  "Obs.tlaas",
  "Obs.tland",
  "Obs.wtad",
  "Obs.wtal",
  "observation.mp",
  "PellaTom",
  "perfectObs",
  "pope",
  "price_beia",
  "propagateFLF",
  "quantityNms",
  "R_beia",
  "redfishRecModel",
  "replaceRec",
  "revenue_beia",
  "Segreg",
  "SelAtAge",
  "showArray",
  "SMFB",
  "SRsim",
  "SSB_beia",
  "SSFB",
  "stock.fleetInfo",
  "summary_beia",
  "tdiscStock",
  "tlandStock",
  "totfcost_beia", 
  "totvcost_beia",
  "trgtNms",
  "unit2age",
  "updateCatch",
  "updateQS.SMFB",
  "updateQS.SSFB",
  "validFwdBDControl",
  "Var.mort",
  "Var.nyr",
  "vFLBDSRsims",
  "vFLCs",
  "vFLFs",
  "vFLMs",
  "wtadStock",
  "wtalStock",
  "XSAboot"
)
exportMethods(
  "addFLCatch",
  "catchNames",
  "catchNames<-",
  "FLCatchesExt",
  "FLCatchExt",
  "FLFleetExt",
  "FLFleetsExt",
  "FLMetierExt",
  "FLMetiersExt",
  "is.FLBDSRsims",
  "is.FLCatchesExt",
  "is.FLFleetsExt",
  "is.FLMetiersExt"
)

exportClasses(
  "FLBDsim",
  "FLSRsim",
  "FLCatchesExt",
  "FLCatchExt",
  "FLFleetExt",
  "FLFleetsExt",
  "FLMetierExt",
  "FLMetiersExt"
)


