import("FLCore")
import("FLFleet")
import("methods")
importFrom("grDevices", "dev.off", "pdf")
importFrom("stats", "aggregate", "anova", "as.formula", "coef", "cor",
  "reshape", "formula", "lm", "mad", "optimize", "terms", "uniroot")
importFrom("utils", "data", "installed.packages")
import("ggplot2")

#importFrom("mvtnorm", "rmvnorm")
#importFrom("nloptr", "nloptr")
#importFrom("triangle", "rtriangle")

export(
"advSum",
"advSumQ",
  "aneHCRE",
  "annualTAC",
  "annexIVHCR",
  "B_flbeia",
  "bioSum",
"bioSumQ",
  "C_flbeia",
  "catchStock",
  "catchStock.f",
  "catchWStock",
  "catchWStock.f",
  "CFPMSYHCR", 
  "costs_flbeia",
  "create.advice.ctrl",
  "create.assess.ctrl",
  "create.biols.ctrl",
  "create.fleets.ctrl",
  "create.covars.ctrl", 
  "create.obs.ctrl",
  "create.advice.data",    
  "create.BDs.data",       
  "create.biols.data", 
  "create.biol.arrays",
  "create.fleets.data",
  "create.fleets.arrays",
#  "create.F2CatchHCR.ctrl",    
  "create.indices.data",   
 # "calculate.CDparam",     
 # "create.list.stks.flq",  
 # "create.list.stks.flqa", 
  "create.SRs.data",       
  "D_flbeia",
  #"discnStock",
  "discStock",
  "discStock.f",
  "discWStock",
  "discWStock.f",
  "ecoSum_damara",
  "F2CatchHCR",
  "F_flbeia",
  "FLBEIA",
   "FLBDsim",
"fltSum",
"fltSumQ",
"fltStkSum",
"fltStkSumQ",
  "FLSRsim",
  "FroeseHCR",
  "ghlHCR",
# "initPop_lifeHist",
  "IcesHCR",
  "joinIter",
  "L_flbeia",
  "landStock",
  "landStock.f",
  "landWStock",
  "landWStock.f",
"little2011HCR",
"MAPHCR",
"mtSum",
"mtSumQ",
"mtStkSum",
"mtStkSumQ",
"MultiStockHCR", 
  "neaMAC_ltmp",
"npv",
"npvQ",
  "pidHCR",
  "pidHCRItarg",
  "plotFLBiols",
  "plotFLFleets",
  "plotbioSum", 
  "plotfltSum", 
  "plotfltStkSum",
  "plotfltSum",
  "plotfltStkSum", 
  "plotEco",
  "price_flbeia",
  "R_flbeia",
  "riskSum",
  "revenue_flbeia",
  "SelAtAge",
  "SSB_flbeia",
  "stock.fleetInfo",
  "summary_flbeia",
  "tdiscStock",
  "tlandStock",
  "totfcost_flbeia", 
  "totvcost_flbeia",
  "updateFLBiols",
"vesselSum",
"vesselSumQ",
"vesselStkSum",
"vesselStkSumQ",
   "unit2age",
  "wtadStock",
  "wtalStock",
  "XSAboot",
  "xtabs2")

exportMethods(
  "dimnames<-", # to be deleted after next FLCore release
  "addFLCatch",
  "catchNames",
  "catchNames<-",
  "FLCatchesExt",
  "FLCatchExt",
  "FLFleetExt",
  "FLFleetsExt",
  "FLMetierExt",
  "FLMetiersExt",
  "is.FLCatchesExt",
  "is.FLFleetsExt",
  "is.FLMetiersExt"
)

exportClasses(
  "FLBDsim",
  "FLSRsim",
  "FLCatchesExt",
  "FLCatchExt",
  "FLFleetExt",
  "FLFleetsExt",
  "FLMetierExt",
  "FLMetiersExt"
)

